
/* I'm really sorry for the two media queries. I realize I dont need two, but just couldnt find a way to make my code work without both of them in there for some reason. I know I only need the one - I will do better next time and am totally willing to retry this one and turn it in again. */

html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}


@media only screen and (max-width: 768px) {
  body {
    display: grid;
    background-color: gray;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  main {
    display: grid;
    max-width: 200px;
    /* tablet - two column display */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    background-color: whitesmoke;
    grid-template-areas: 
    "header"
    "content"
    "footer"
    "aside";
  }

  #status {
    text-align: right;
  }

  img {
    display: grid;
    border-radius: 50%;
    margin: 0 auto;
    border: solid;
    border-color: green;
  }

  #name {
    display: flex;
    grid-area: "content";
    }

  #occupation {
    display: flex;
    background-color: lightgrey;
    grid-area: "content";
    }
    
    #brand {
    display: none;
    grid-area: "content";
    }
    
    #offer {
    display: flex;
    grid-area: "aside";
    }
    
    #contact {
    display: flex;
    background-color: green;
    grid-area: "footer";
    justify-content: space-evenly;
    }
}

@media only screen and (min-width: 768px) {

  body {
    display: flex;
    background-color: gray;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
  
  
  main {
    display: grid;
    text-align: center;
    background-color: whitesmoke;
    /* max-width: 400px; */
    font-size: 2.4rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "status name"
    "img occupation"
    "img brand"
    "contact offer"
  }

  #status {
    text-align: left;
  }
  
  img {
  grid-area: img;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid;
  border-color: green;
  width: 100%;
  }
  
  #contact {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: green;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: contact;
    }
  
    #phone {
      display: grid;
    }
  
    #light {
      display: grid;
    }
  
  
  #name {
  grid-area: name;
  justify-content: right;
  justify-self: start;
  
  }
  
  #occupation {
    display: flex;
  grid-area: occupation;
  flex-direction: column;
  justify-self: start;
  }
  
  #brand {
  display: flex;
  grid-area: brand;
  text-align: left;
  justify-self: start;
  }
  
  #offer {
  grid-area: offer;
  justify-self: start;
  }
  
  /* #name, #occupation, #brand, #offer {
    padding-left: 20px;
    background-color: lightgray;
  } */
  
  }
